# Versiones de los contenedores
PHP_VERSION=8.4
ALPINE_VERSION=3.22
NGINX_VERSION=mainline-alpine-slim
MARIADB_VERSION=11.8
PHPMYADMIN_VERSION=latest
REDIS_VERSION=8-alpine
TRAEFIK_VERSION=3

# Variables de configuración
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=blog

# Sitios web
FQDN_BLOG=blog.test
FQDN_PHPMYADMIN=phpmyadmin.blog.test
FQDN_MAILPIT=mailpit.blog.test
FQDN_TRAEFIK=traefik.blog.test
